name: Share data between jobs

on: [push]

jobs:
  job_1:
    name: Add 3 and 7
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        run: |
          git clone https://github.com/konradybcio/pongoOS
          cd pongoOS
          sed -i '' "s/-Werror //" Makefile
          make -j$(sysctl -n hw.logicalcpu)
      - name: Upload math result for job 1
        uses: actions/upload-artifact@v3
        with:
          name: Pongo
          path: build/Pongo.bin
